<!DOCTYPE html>
<html>
<head>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/test.css" rel="stylesheet">
    <link rel="stylesheet" href="css/view_style.css">
    <style type="text/css">
        .col-lg-8 { line-height: 200px; }
        .col-lg-12 { line-height: 80px; }
    </style>
</head>
<body>
<div class="container">

    <header class="row">
        <div class="col-xs-2 col-lg-2 text-center"> logo </div>
        <div class="col-xs-7 col-lg-7 text-center"> <h1>FreeNote</h1> </div>
        <div class="col-xs-2 col-lg-2 text-center" >
            <a class="coin" > se connecter </a>

            <form class="loginmenu" action="../CONTROLLERS/controller_user.php" method="post" >
                <input type="text" name="login"  placeholder="Identifiant"/>
                <input type="password" name="mdp" placeholder="Mot de passe"/>
                <input type="submit" name="action" value="login"/>
            </form>
            <script src="menu_login.js"></script>
        </div >

        <div class="col-xs-1 col-lg-1 text-center">
            <a class="reg"> s'inscrire </a>

            <form class="registerMenu" action="../CONTROLLERS/controller_user.php" method="post">
                <input type="text" placeholder="identifiant" name="identifiant" /> <br>
                <label> sexe </label> <br>
                <input type="radio" value="homme" name="genre" checked/> homme <br>
                <input type="radio" value="femme" name="genre" checked/> femme <br>
                <input type="text" placeholder="mail" name="mail"/>   <br>
                <input type="password" placeholder="mot de passe" name="mdp"/> <br>
                <input type="password" placeholder="confirmer mot de passe" name="cmdp"/> <br>
                <input type="text" placeholder="telephone" name="phone" /> <br>
                <select  name="pays">
                    <option> france </option>
                    <option> espagne </option>
                    <option> nigeria</option>
                    <option> afgranistan </option>
                </select> <br>
                <label> conditions generales </label>
                <input type="checkbox" name="conditions"/> <br>
                <input type="submit" name="action" value="inscription"/> <br>
            </form>
            <script src="menu_login.js"></script>

        </div>
    </header>
<hr>
        <section class="col-lg-12">
            <div class="row button">
                <button><div class="col-lg-4 text-center"> <a> Nouvelle Discussion </a> </div></button>
                <button><div class="col-lg-5 text-center"> <a> Trouver une Discussion </a> </div></button>
                <button><div class="col-lg-3 text-center"> <a> Actualiser </a> </div></button>
            </div>
<hr>

                <table class="col-lg-12">
                    <tr>
                        <td>Nom de la discussion</td>
                        <td>Statut</td>
                        <td>Dernier message</td>
                        <td>Auteur</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Nom de la discussion</td>
                        <td>Statut</td>
                        <td>Dernier message</td>
                        <td>Auteur</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Nom de la discussion</td>
                        <td>Statut</td>
                        <td>Dernier message</td>
                        <td>Auteur</td>
                        <td>Date</td>
                    </tr>
                </table>
            <div class="col-lg-12 text-center">
                <input type="image" alt="previous" src="gauche.jpg" width="30px" height="30px">
                <input type="image" alt="next" src="droite.jpg" width="30px" height="30px" >
            </div>

        </section>



</div>

<footer class="row" >


    <div class ="col-lg-12 text-center"> Copyright © | FreeNote </div>
    <div class="col-lg-3 text-center"> <a href="https://github.com/Vincent-SD" target="_blank"> Vincent Simonetti-Diez </a> </div>
    <div class="col-lg-3 text-center"> <a href="https://github.com/sergegamingb" target="_blank"> Alexandre Salles  </a> </div>
    <div class="col-lg-3 text-center"> <a href="https://github.com/Ibrahim-Boulahrouz" target="_blank"> Ibrahim Bouhlarouz </a> </div>
    <div class="col-lg-3 text-center"> <a href="https://github.com/AnthonyZIANE" target="_blank">  Anthony Ziane </a> </div>


</footer>


</div>
</body>
</html>