<!DOCTYPE HTML>
<html lang="fr">
<meta charset="UTF-8">
<head><h1>Changer mot de passe</h1> <br/>



    <form action="../CONTROLLERS/controller_user.php" method="post">
        <input type="password" placeholder="ancien mot de passe" name="oldMdp" /> <br>
        <input type="password" placeholder="nouveau mot de passe" name="newMdp"/> <br>
        <input type="password" placeholder="confirmer mot de passe" name="confirmMdp"/> <br>
        <input type="submit" name="action" value="modifier"/> <br>

    </form>

</html>