.blu {
    background-color: blue;
    width: 100%;
}
.loginmenu {
    position: absolute;
    top: -3000%;
    left: 15%;
    height: 25%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-duration: 0.4s;
    background-color: white;
    z-index: 1;
}

.coin {
    width: 10%;
    top: 18%;
}

/**.coin:hover*/
/*{*/
/*    background-color: #dadada;*/
/*    border-style: solid;*/
/*    border-radius: 15%;*/
/*}*/

.reg {
    width: 10%;
    top: 18%;
}

/*.reg:hover*/
/*{*/
/*    background-color: #dadada;*/
/*    border-style: solid;*/
/*    border-radius: 15%;*/
/*}**/

.loginmenuoff {
    position: absolute;
    top: 50%;
    height: 25%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-duration: 0.4s;
    background-color: white;
    z-index: 1;
}

.registerMenu {
    position: absolute;
    top: -5000%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-duration: 0.4s;
    background-color: white;
    z-index: 1;
}


.registerMenuOff {
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-duration: 0.4s;
}

.menuV {
    position: relative;
    top:-100%;
}

.menuVoff {
    position: absolute;
    top: 0%;
}

.avatar{
    width: 150%;
}

.changebloc
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.modif
{
    align-items: center;

}

html{
    font-family: Verdana;
    font-size: 1.3em;

}

body {
    padding-top: 10px;
    min-height: 100%;
}
/*[class*="col-"], footer {*/
/*     background-color: lightgreen;*/
/*     border: 2px solid black;*/
/*     border-radius: 6px;*/
/*     line-height: 40px;*/
/*     text-align: center;*/
/* }*/
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 3px;

}


table,th,td{
    border: 2Px solid black;
    border-collapse: collapse;
    text-align: center;
    line-height: 80px;
}

footer {
    /* position: relative; */
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

a
{
    text-decoration: none;
    color: black;
}

/*.row*/
/*{**/
/*    display: flex;*/
/*    width: 100%;*/
/*    height: 7em;*/
/*    margin-top: 4em;*/
/*    margin-bottom: 4em;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*}*/

/*.col-lg-4 col-md-4 col-sm-12 text-center*/
/*{*/
/*    display: flex;*/
/*    height: 2em;*/
/*    margin: 1em;*/
/*}*/

.newbouton
{
    color: black;
}

/*.col-lg-4 col-md-4 col-sm-12 text-center*/
/*{*/
/*    display: flex;*/
/*    height: 2em;*/
/*}*/
/*    ms: center;*/
/*    flex-direction: column;*/


.refreshbouton
{
    color: black;
}

.bbloc
{

    display: flex;
    border-style: groove;
    border-color: black;
    justify-content: space-around;
    align-items: center;


}

.longtext
{

    text-align: center;
}

.discbloc
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 992px) {
    .registerMenu{
        left : 0;

  }
    .loginmenuoff
    {
        position: relative;
        align-items: center;
        top:0;
        margin-bottom: 15px;
        bottom: 30px;
    }

    .registerMenuOff{
        position: relative;
        align-items: center;
        margin-bottom: 15px;
        top:0;
    }

    .loginmenu{
        left: 15%;
    }

    .form{
        border-style: groove;
        border-color: black;
    }
    .avatar{
        width: 30%;
    }


}