.blu {
    background-color: blue;
    width: 100%;
}
.loginmenu {
    position: absolute;
    top: -3000%;
    left: 165%;
    height: 25%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-duration: 0.4s;
}
.coin {
    width: 10%;
}

/*.coin:hover*/
/*{*/
/*    background-color: #dadada;*/
/*    border-style: solid;*/
/*    border-radius: 15%;*/
/*}*/

.reg {
    width: 10%;
}

/*.reg:hover*/
/*{*/
/*    background-color: #dadada;*/
/*    border-style: solid;*/
/*    border-radius: 15%;*/
/*}*/

.loginmenuoff {
    position: absolute;
    top: 25%;
    transition-duration: 0.4s;
}

.registerMenu {
    position: absolute;
    top: -3000%;
    left: 165%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-duration: 0.4s;
}

.registerMenuOff {
    position: absolute;
    top: 25%;
    transition-duration: 0.4s;
}

.menuV {
    position: relative;
    top:-100%;
}

.menuVoff {
    position: absolute;
    top: 0%;
}


@media (max-width: 992px) {
    .loginmenu,.registerMenu{
        left : 30%;

  }
    .loginmenuoff, .registerMenuOff
    {

        margin-top: 30%;
    }

}