.blu {
    background-color: blue;
    width: 100%;
}
.loginmenu {
    position: absolute;
    top: -180%;
    left: 160%;
    height: 25%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-duration: 0.4s;
}
.coin {
    width: 10%;
}
.reg {
    width: 10%;
}


.loginmenuoff {
    top: 15%;
    transition-duration: 0.4s;
}

.registerMenu {
    position: absolute;
    top: -1000%;
    left: 160%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-duration: 0.4s;
}

.registerMenuOff {
    top: 15%;
    transition-duration: 0.4s;
}

.menuV {
    position: relative;
    top:-100%;
}

.menuVoff {
    position: absolute;
    top: 0%;
}


@media (min-width: 992px) {
    .loginmenu,.registerMenu{
        left : 0;
    }

}