.blu {
    background-color: blue;
    width: 100%;
}
.loginmenu {
    position: absolute;
    top: -180%;
    right: 150%;
    height: 8.5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-duration: 0.4s;

}
.coin {
    width: 10%;
}
.loginmenunoff {
    top: 15%;
    transition-duration: 0.4s;
}

.menuV {
    position: relative;
    top:-100%;
}

.menuVoff {
    position: absolute;
    top: 0%;
}